@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .container{
    @apply  p-4 w-[340px] md:w-[568px] bg-[#fff] mx-auto my-8 rounded-md border-2
  }

  .containerHeader {
    @apply h-[64px] w-full  flex items-center p-2
  }

  .input {
    @apply h-[56px] w-full p-2 rounded-md border-2
  }

  .button {
    @apply w-full mt-4 h-[48px] rounded-md bg-gradient-to-r from-[#FF385C] to-[#b9005a] text-[#FFF] text-xl
  }

  .buttonBlack{
    @apply bg-black text-white w-full py-2 mt-6 rounded-lg
  }

  .buttonContinue {
    @apply bg-gray-300 p-3 w-[150px] mt-6  mx-auto rounded-md text-white
  }

  .containerButtonAccess {
    @apply p-2 mx-auto mt-4
  }

  .AccessBtn {
    @apply border-4 mb-3 w-full h-[48px] flex items-center rounded-md 
  }

}






/* CONFIGURACION DEL SLICK  */

.slick-slide > div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-arrow:before { 
    width: 40px;
    height: 40px;
    color: black; 
}

/* TAMAÑO DEL MAPA */

.mapa{
    width: 600px;
    height: 500px;
}

@media (max-width: 768px) {
   .mapa {
      width: 278px;
      height: 220px;
  }
}

/* ACORTAR TEXTOS */

.show-more {
  display: none;
}

.show-all {
  display: block;
}

/* Contenedor de las cards. */

.conteinerCards {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* Son estilos del slider que contiene las cartas. */

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 12px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
  font-weight: 900;
  --swiper-theme-color: black; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    padding: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 5px;
  height: 5px;
  padding: 15px;
  border-radius: 50%;
  --swiper-theme-color: black; 
  background-color: #ffffffc6;
}

/* Fin de los estilos de las cards. */

