@tailwind base;
@tailwind components;
@tailwind utilities;


/* CONFIGURACION DEL SLICK  */

.slick-slide > div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

.slick-arrow:before { 
    width: 40px;
    height: 40px;
    color: black; 
}

/* TAMAÑO DEL MAPA */

.mapa{
    width: 600px;
    height: 500px;
}

/* ACORTAR TEXTOS */

.show-more {
  display: none;
}

.show-all {
  display: block;
}

/* Contenedor de las cards. */

.conteinerCards {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* Son estilos del slider que contiene las cartas. */

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 12px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
  font-weight: 900;
  --swiper-theme-color: black; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    padding: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 5px;
  height: 5px;
  padding: 15px;
  border-radius: 50%;
  --swiper-theme-color: black; 
  background-color: #ffffffc6;
}

/* Fin de los estilos de las cards. */

