# INSTRUCCIONES: Elimine la extensión .sample y reemplace los <...> por las credenciales proporcionadas.
# Quedará un archivo .env, no lo suba a github es privado en cada entorno de desarrollo. 👋🏼

# Variables de entorno de servidor web node.js/express.js
PORT=<"Reemplace por el puerto de servidor por ej: PORT=3000">

# Variables de entorno para conectar a MongoDB en Atlas.
MONGO_DB_NAME=<"Ingrese el nombre de la base de datos ej: MONGO_DB_NAME=db-airbnb">
MONGO_DB_URI=<"Ingrese la URI de conexión a la base de datos">

# Variable de entorno para firmar token.
SECRET=<"Ingrese la clave para firmar tokens">

# Variable de entorno para conectar con sendgrid y gestionar emails.
SENDGRID=<"Ingrese la el codigo de conexión de sendgrid">
